:root {
  --main-color: #323682;
  --sec-color: #67B346;
  --text-color: #707070;
  --grey-color: #89898a;
  --bread-color: #fdfdfd;
  --contact-color: #0b6e8e;
  --side-color: #ffffff;
}

@font-face {
  font-family: "tjLight";
  src: url("../fonts/Tajawal-Light.ttf") format("ttf"),
    url("../fonts/Tajawal-Light.woff") format("woff"),
    url("../fonts/Tajawal-Light.woff2") format("woff2"),
    url("../fonts/Tajawal-Light.eot") format("eot");
}

@font-face {
  font-family: "tj";
  src: url("../fonts/Tajawal-Regular.ttf") format("ttf"),
    url("../fonts/Tajawal-Regular.woff") format("woff"),
    url("../fonts/Tajawal-Regular.woff2") format("woff2"),
    url("../fonts/Tajawal-Regular.eot") format("eot");
}

@font-face {
  font-family: "tjMd";
  src: url("../fonts/Tajawal-Medium.ttf") format("ttf"),
    url("../fonts/Tajawal-Medium.woff") format("woff"),
    url("../fonts/Tajawal-Medium.woff2") format("woff2"),
    url("../fonts/Tajawal-Medium.eot") format("eot");
}

@font-face {
  font-family: "tjBold";
  src: url("../fonts/Tajawal-Bold.ttf") format("ttf"),
    url("../fonts/Tajawal-Bold.woff") format("woff"),
    url("../fonts/Tajawal-Bold.woff2") format("woff2"),
    url("../fonts/Tajawal-Bold.eot") format("eot");
}

@font-face {
  font-family: "tjBlk";
  src: url("../fonts/Tajawal-Black.ttf") format("ttf"),
    url("../fonts/Tajawal-Black.woff") format("woff"),
    url("../fonts/Tajawal-Black.woff2") format("woff2"),
    url("../fonts/Tajawal-Black.eot") format("eot");
}

body {
  font-family: "tj";
  color: var(--text-color);
}
a,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "tj";
}
a {
  color: var(--text-color);
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {

  outline: none;
}
body::-webkit-scrollbar {
  background-color: #fff;
  width: 7px;
  height: 0;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) #fff;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.clear {
  clear: both;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*  */

.fixall {
  margin: 0;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
}
.fixall:focus,
.fixall:hover {
  outline: 0;
  text-decoration: none;
}

/* loader */

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-color);;
  z-index: 99999;
}
.loader img {
  width: 185px;
}
@media (max-width: 767px) {
  .loader img {
    width: 180px;
  }
}

/* loader */


/* //////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */

/* Side menu */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  display: none;
}

.sidenav {
  right: -580px;
  overflow: auto;
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 999999;
  top: 0;
  background-color: var(--main-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 75px;
  -webkit-box-shadow: 6px 1px 14px rgba(0, 0, 0, 0.175);
  box-shadow: 6px 13px 14px rgba(0, 0, 0, 0.175);
}

.sidenav.open {
  right: 0;
}

.side-menu i {
  margin-left: 3px;
}

.sidenav input {
  width: 190px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid;
  margin-top: 25px;
}

.sidenav button {
  background-color: var(--side-color);
  border: 0px;
}

.sidenav a {
  text-decoration: none;
  font-size: 18px;
  font-family: "tjLight";
  transition: 0.3s;
  margin: 0px 30px;
  color: var(--side-color);
  line-height: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.sidenav a.social-link{margin: 0px 3px;}
.top-social.side {
  padding: 10px 6px;
  display: flex;
}
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
  left: 0px;
}

.side-menu span {
  font-size: 35px;
  cursor: pointer;
  color: var(--main-color);
  width: 100%;
  display: block;
  padding-left: 25px;
}

@media (min-width: 993px) {
  /* .links-1 {
        display: block
    } */
  .side-menu {
    display: none;
  }
}

.menu-head ul li .down[aria-expanded="true"] {
  color: var(--bread-color);
}

.down:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f067";
  position: absolute;
  display: block;
  color: var(--side-color);
  top: 0;
  left: 35px;
  font-size: 10px;
}

a.down[aria-expanded="true"]:after {
  content: "\f068";
  color: var(--bread-color);
}

a.down[aria-expanded="true"]:active {
  content: "\f068";
  color: var(--bread-color);
}

.side-menu ul li {
  position: relative;
}

.side-menu .sub_list_side li {
  line-height: 30px;
  margin-right: 25px;
}

.side-menu .sub_list_side a {
  font-size: 14px;
  color: #000
  transition: 0.5s ease;
}

.side-menu a.down:hover,
.side-menu a.down:active {
  color: #000
}

/*---------------Menu--------------*/
header{overflow: hidden;}
.top-bar{background-color: #ede8e8;
padding: 3px 0px;
}
.top-bar-flex{display: flex;
  justify-content: space-between;
  align-items: center;}
  .top-bar-time{display: flex;
    align-items: center;
  }
  .top-bar-contacts{display: flex;
    align-items: center;
      color: #707070;
}
    .separator{display: block;
      font-size:20px;
      color: #DCDBDB;
      margin: 0 10px;}
      .top-bar-dropdown{display: flex;
        align-items: center;}
        .top-bar-contacts i {
          color: var(--main-color);
          font-size: 13px;
          margin: 0px 5px;
      }
     
    .header-dropdowns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    
    @media (max-width: 991px) {
      .header-dropdowns {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
    }
  .header-dropdown .dropdown-head:after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 11px;
    -webkit-margin-start: 5px;
            margin-inline-start: 5px;
  }
  .dropdown-head i {
    color: var(--main-color);
    font-size: 13px;
    margin: 0px 5px;
  }
  .header-dropdown {position: relative;    cursor: pointer;}
  .header-dropdown .dropdown-list {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
    min-width: 120px;
    padding: 8px 9px 9px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
  }
  .header-dropdown .dropdown-list a {
    white-space: nowrap;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 4px 6px;
    margin-bottom: 4px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
.header-dropdown .dropdown-list a:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header-dropdown .dropdown-list a:hover {
  color: var(--main-color);
  text-decoration: none;
}

.header-dropdown:hover .dropdown-head {
  color: var(--main-color);
}

.header-dropdown:hover .dropdown-list {
  visibility: visible;
  opacity: 1;
}

.nav-head{
  position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(0%);
    background-color: #fff;
    min-width: 220px;
    padding: 8px 9px 9px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    border: 0;
}
.nav-head > li > a {
  color: #484848;
  padding: 8px 15px;
  text-transform: capitalize;

  font-size: 14px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  line-height: 1.2;
}
.dropdown-list a>img{width: 21px;
  height: 15px;
  margin: 0px 5px;}
.menu-head a {
  font-size: 18px;
  color: var(--bread-color);
  font-family: "tjMd";
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.dropdown-head>img{    width: 21px;
  height: 16px;
  margin: 0px 5px;}
.menu-head li {
  height: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0px 27px;
}
.menu-head li:last-child {
  margin-left: 0px;
}
.menu-head li:first-child {
  margin-right: 0px;
}
.menu-head li::after {
  position: absolute;
  bottom: 37px;
  left: 0;
  right: 0;
  height: 3px;
  content: "";
  background-color: var(--main-color);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-head li.active::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
  opacity: 1;
}

.menu-head a:hover {
  color: var(--sec-color);
}

.dropdown-head {
  position: relative;
}
/* .dropdown-head > a.dropdown-toggle::after {
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
} */
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{  color: var(--sec-color);
  background-color: transparent;}
@media (min-width: 768px) {
  .nav-head {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .dropdown-head:hover .nav-head {
    visibility: visible;
    opacity: 1;
  }
}

.dropdown-head .nav-head > li {
  margin-right: 0px;
}
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
nav {
  background-color: #F8F8F8;
  height: 600px;
 position: relative;
}
.shape-left{
  position: absolute;
  background-color: var(--main-color);
  clip-path: polygon(75% 119%, 0 0, 98% 0);
  -webkit-clip-path: polygon(75% 119%, 0 0, 98% 0);
  clip-path: polygon(75% 119%, 0 0, 98% 0);
  height: 585px;
  left: -178px;
  top: 0;
  padding-left: 650px;
  padding-right: 650px;
  overflow: hidden;
}
.logo img{width: 118px;
  height: 110px;}
.top-mid{
  display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    padding: 15px 0px;
}
.logo{margin-left: auto;}
/* side-slider */

.slider-item {
  position: relative;
}
.slider-item::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(249, 165, 27, 0)), to(#000000e6));
  background: linear-gradient(90deg, rgba(249, 165, 27, 0) 0%, rgb(0 0 0 / 90%) 100%);
  content: "";
  z-index: 2;
}
.side-slider {
  padding-left: 10%;
}

.slider-title{position: absolute;
  bottom: 100px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;}
.slider-link{display: flex;
align-items: center;
justify-content: flex-start;
}
.slid-text{margin: 0px 50px;}
.slider-link .link-us a{
  display: block;
  width: 206px;
  height: 59px;
  border: 1px solid transparent;
  line-height: 59px;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
  color: #fff;
  background-color:  var(--sec-color);
  font-size: 20px;
  font-family: "tjBold";
}
.slider-ti h4{
  color: var(--sec-color);
  font-size: 28px;
  font-family: "tjBold";
}
.slider-ti h2{    font-size: 52px;
  color: #ffffff;
  margin: 10px 0px;
  font-family: "tjBold";}
.slider-link .link-us a:hover{
  border-color: var(--sec-color);
  background-color: #ffffff;
  color: var(--sec-color);
}
.slider-link .know-us a{
  display: block;
  width: 206px;
  height: 59px;
  border: 1px solid transparent;
  line-height: 59px;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
  color: #fff;
  background-color: var(--main-color);
  font-size: 20px;
  margin: 0px 10px;
  font-family: "tjBold";
}
.slider-link .know-us a:hover{
  border-color: var(--main-color);
  background-color: #ffffff;
  color: var(--main-color);
}
.slider-item .photo-head img{height: 617px}
.side-slider .owl-carousel .owl-nav .owl-prev {
  top: 60%;
  position: absolute;
  color: #fff;
  width: 32px;
  height: 32px;
  font-size: 13px;
  right: 20px;
  line-height: 33px;
  border-radius: 50%;
  opacity: 0.702;
  background-color: #606165;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}
.side-slider .owl-carousel .owl-nav .owl-next {
  top: 60%;
  position: absolute;
  color: #fff;
  width: 32px;
  height: 32px;
  font-size: 13px;
  right:60px;
  opacity: 0.702;
  line-height: 33px;
  border-radius: 50%;
  background-color: #606165;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}
.side-slider .owl-carousel .owl-nav .owl-prev:hover, .side-slider .owl-carousel .owl-nav .owl-next:hover {
  background-color: #fff;
  color: #000;
  opacity: 1;
}
/* marquee-head */ 
.marquee-head{display: flex;
  align-items: center;
  background-color: #ecf0f3;}
.news-marquee{width: 15%;}
.news-marquee h4{
  background-color: #323682;
  color: #fff;
  padding: 15px 20px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  font-size: 23px;
  margin: 0;
  font-family: "tjBold";
}

.news_line {
  height: 52px;
  line-height: 52px;
  background-color: #323682f2;
  color: #fff;
  font-size: 14px;
  z-index: 9;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.news_line .marque_out {
  display: flex;
}
.news_line .least {
  min-width: 87px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  background-color: #67B346;
  border-radius: 2px;
  color: #fff;
  margin-left: 20px;
  margin-top: 12px;
  font-size: 14px;
 
  position: relative;
}
.news_line .least:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-width: 8px;
  border-color: transparent #61b347 transparent transparent;
  border-style: solid;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: -12px;
}
.news_line .marquee {
  overflow: hidden;
  direction: ltr;
  line-height: 52px;
  flex: 1;
  z-index: 1;
}
.news_line a {
  color: #9cc0d5;
  font-size: 14px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.news_line a:hover {
  color: #fff;
}
.news_line span {
  margin: 0 8px;
  color: #9cc0d5;
}
/* .marquee {
  width: 85%;
  font-size: 19px;
  color: var(--text-color);
  font-family: "tjMd";
  height: 25px;
  overflow: hidden;
  position: relative;
} */
/* .marquee div {
  display: block;
  width: 200%;
  position: absolute; 
  overflow: hidden;
  animation: marquee 20s linear infinite;
} */
.marquee {
  overflow: hidden;
  direction: ltr;
  line-height: 52px;
  flex: 1;
  z-index: 1;
}
/* span with text
.marquee span {
  float: left;
  width: 50%;
}
/* keyframe */
/* @keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; } 
}
*/

/*-----------------about-us-head--------------*/
.about-flex{display: flex;
  align-items: center;
 }
  .about-photo{    width: 50%;}
  .about-title{    width: 50%;}
  .about-title h3{
    color: var(--sec-color);
    font-size: 28px;
    font-family: "tjBold";
  }
  .about-title h2{
    color: var(--main-color);
    font-size: 28px;
    font-family: "tjBlk";
    
  }
  .about-title p{
    font-size: 16px;
    font-family: "tjMd";
  }
  .photo-first{position: relative;bottom: -35px;}
  .photo-first img.sec{
    position: absolute;
    width: 305px;
    bottom: -30px;
    right: -40px;
    height: 358px;
    border-radius: 23px;
    border: 2px solid #fff;
  }
    .photo-first img.io{ 
      border-radius: 23px;
      border: 2px solid #fff;
      width: 536px;
      height: 513px;}
  .about-title a{
    display: block;
    width: 206px;
    height: 59px;
    border: 1px solid transparent;
    line-height: 59px;
    border-radius: 20px;
    text-align: center;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    color: #fff;
    background-color: var(--main-color);
    font-size: 20px;
    font-family: "tjBold";
    margin-top: 40px;
  }
  .about-title a:hover{
    border-color: var(--main-color);
    background-color: #ffffff;
    color: var(--main-color);
  }
/*-----------------numbers--------------*/
.numbers{background-color:var(--main-color);
  padding-top: 35px;
}
.num-flex{
  padding-top: 90px;
  padding-bottom: 60px;
  display: flex;

  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.num-one h4{
  font-size: 75px;
    color: #ffff;
    text-align: center;
    font-family: "tjMd";
    direction: ltr;
}
.num-one span{
  font-size: 18px;
    text-align: center;
    display: block;
    font-family: "tjMd";
    color: var(--side-color);
}
svg {
  width: 35px;
  height: 42px;
  filter: none;
  fill: var(--sec-color);
}
.num-one{display: flex;
  align-items: center;
  flex-direction: column;}

  /* first-banner-section */
  .first-banner-section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 0 65px;
    position: relative;
    -webkit-transform: perspective(1px);
    transform: perspective(1px);
}
  .first-banner-section::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(249, 165, 27, 0)), to(#67b346));
    background: linear-gradient(90deg, rgba(249, 165, 27, 0) 0%,rgb(103 179 70 / 50%) 25%,#67b346 50%,#67b346 75%, #67b346 100%);
    content: "";
    z-index: -1;
}
.first-banner-section .banner-title {
  font-size: 42px;
  font-family: "tjBold";
  color: #fff;
  width: 49%;
}
.first-banner-section .banner-link {
  display: block;
    width: 206px;
    height: 59px;
    border: 1px solid transparent;
    line-height: 59px;
    border-radius: 20px;
    text-align: center;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    color: #fff;
    background-color: var(--main-color);
    font-size: 20px;
    font-family: "tjBold";
    margin-top: 20px;
}
.first-banner-section .banner-link:hover {
  border-color: var(--main-color);
  background-color: #ffffff;
  color: var(--main-color);
}
.first-banner-section i {margin: 0px 5px;}
/* academic_departments */
.academic_departments{    padding-bottom: 45px;
  padding-top: 50px;}
.depart-title{text-align: center;}
.depart-title h2{
  position: relative;
  color: var(--main-color);
  font-size: 28px;
  font-family: "tjBlk";
  margin-bottom: 60px;
}
.depart-title h2::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 6px;
  top: 50px;
  left: 50%;
  background-color: var(--sec-color);
  transform: translateX(-50%);
}

.feat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feat-one {
  margin: 0px 15px;
  /* padding: 20px; */
  justify-content: center;
  display: flex;
  width: 254px;
 
  background-color: #FCFCFC;
  height: 266px;
  border: 2px solid #FCFCFC;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 8px 0px rgb(1 1 1 / 10%);
  box-shadow: 0px 0px 8px 0px rgb(1 1 1 / 10%);
}
.feat-1 .feat-photo{margin-top: 15px;
  margin-bottom: 15px;}
.feat-one:hover {
 border-color:  var(--sec-color);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}
.feat-photo img{    width: 150px;    margin: auto;
  height: 150px;}
.feat-title span{font-size: 19px;
  color: var(--main-color);
  font-family: "tjBlk";
}
.feat-title .feat-la{font-size: 19px;
  color: var(--main-color);
  font-family: "tjBlk";
}
.feat-title{text-align: center;}
/* gallery */
.gallery-flex{display: flex;flex-wrap: wrap;}
.gallery-photo{width: 25%;}
.gallery-photo img{
  width: 100%;
  max-width: 100%;
  height: 255px;
}
/* partners-section */
.partners-section{padding-bottom: 45px;
  padding-top: 50px;}
.item.partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.partner .br_photo {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.partner .br_photo:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}


/* testimonials-section */
.testimonials-section{
  background-color: var(--main-color);
  padding-bottom: 75px;
}

.testimonial-title{text-align: center;}
h2.testimonial-title{
  position: relative;
  color: var(--side-color);
  font-size: 28px;
  font-family: "tjBlk";
  margin-bottom: 80px;
  margin-top: 55px

}
h2.testimonial-title::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 6px;
  top: 50px;
  left: 50%;
  background-color: var(--sec-color);
  transform: translateX(-50%);
}
.testimonial {
  padding: 32px 33px 25px;
  background-color: var(--side-color);;
  position: relative;
  border-radius: 13px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: perspective(1px);
          transform: perspective(1px);
}

.testimonial .user-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid  var(--sec-color);
}

.testimonial .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial .user-text {
  -webkit-margin-start: 25px;
          margin-inline-start: 25px;
  margin-top: 12px;
}

.testimonial .user-name {
  font-size: 19px;
  color: var(--main-color);;
  font-family: "tjBlk";
  margin: 0 0 15px;
}

.testimonial .review {
  font-size: 12px;
  color: #7D7D7D;
  line-height: 1.5;
  margin: 0;
  height: 85px;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .testimonial .review {
    height: auto;
  }
}

.testimonials-section .owl-dots {
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -30px;
  left: 50%;
}
.testimonials-section .owl-dots .owl-dot {
  display: inline-block;
  width: 6px;
  margin-right: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.302);
  border-radius: 50%;
}
.testimonials-section .owl-dots .owl-dot.active {
  background-color: var(--grey-color);
}
/* our_branches */
.our_branches{padding-top: 45px;position: relative;    height: 684px;}

.branch-photo{left: 0;
  position: absolute;
  top: 175px;
  bottom: 0;
  overflow: hidden;}
.address{display: flex;
  flex-direction: column;
  position: relative;flex-wrap: wrap;}
.add-branch{
  margin: 0px 15px;
  padding: 20px;
  justify-content: center;
  display: flex;
  width: 350px;
  background-color: #FCFCFC;
  height: 55px;
  border: 2px solid #FCFCFC;
  border-radius: 10px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 8px 0px rgb(1 1 1 / 10%);
  box-shadow: 0px 0px 8px 0px rgb(1 1 1 / 10%);
  display: flex;
  flex-direction: column;
}
  .add-branch h2{
    font-size: 21px;
    color: var(--text-color);
    font-family: "tjMd";
    margin-top: 0;
    margin-bottom: 0;
  }
  .add-branch p{
    font-family: "tjBold";
    font-size: 15px;
    color: #888888;
    width: 80%;
  }
  .add-call{    display: flex;
    justify-content: flex-start;}
  .add-call span{
    color: #888888;
    font-size: 15px;
  }
  .add-call i{
    color: var(--main-color);
    font-size: 15px;
  }

/* Footer */
footer {
  background-color: var(--main-color);
  padding-top: 50px;
  padding-bottom: 50px;
}
.logo-footer img {
  width: 157px;
    height: 190px;
}
h5.foot-title {
  position: relative;
  font-size: 21px;
  font-family: "tjBlk";
  color: var(--sec-color);
  margin: 0 0 30px;
}
.links-1 {
  margin-top: 35px;
}
.fast-link ul.rebi {
  display: flex;
  flex-wrap: wrap;
}
.fast-link ul.rebi li {
  width: 50%;
}
.fast-link ul li a {
  font-size: 14px;
  color: var(--side-color);;
  line-height: 37px;
  font-family: "tjMd";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fast-link ul li a:hover {
  color: var(--sec-color);
}
.f-ti {
  margin-top: 45px;
}
.f-ti li {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
.footer-social{display: flex;margin-top: 20px;}
.social-link i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #707070;
 background-color: #F8F8F8;
 margin: 0px 4px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-link i:hover{
  color: var(--side-color);
  background-color:  var(--sec-color);
}
.f-ti span {
  margin: 0px 10px;
  color: var(--side-color);;
  font-size: 16px;
}
.f-ti i{color: var(--sec-color); font-size: 16px;}
.foot-copy {
  background-color:  var(--main-color);;
  padding: 10px 0px;
  overflow: hidden;
  text-align: center;
}
.copy {
  color: #FFFFFF;
  font-size: 14px;
  margin: auto;
}
@media (min-width: 2560px){
.shape-left {
    padding-left: 50%;
}}
@media (min-width:1520px) {
  .shape-left {
    padding-left: 950px;

}
}
@media (min-width:1024px) {
  .shape-left {
    padding-left: 38%;

}
.menu-head a {
  font-size: 15px;

  text-align: center;
}
.news-marquee h4 {
  font-size: 19px;
}
.photo-first img.io {
  width: 430px;
}
.first-banner-section .banner-title {
  font-size: 37px;
  width: 62%;
}
}
@media (max-width:992px) {
  .menu-head{display: none;}
  .shape-left{display: none;}
  .side-slider {
    padding-left: unset;
}
.logo {
  margin-left: auto;
  margin-right: auto;
}
.top-mid {
  justify-content: flex-start;
}
.news-marquee h4 {
  font-size: 19px;
}
.about-flex{flex-direction: column-reverse;}
.about-title {
  text-align: center;
  margin-top: 35px;
}
.about-title a{margin: auto;
  margin-top: 30px;}
  .first-banner-section .banner-title {
    font-size: 33px;
    width: 50%;
  }
  .gallery-photo {
    width: 33.3%;
}
.gallery-flex {
  justify-content: center;
}
}
@media (max-width:991px) {
  .slid-text {
    margin: 0px 0px;
}
.slider-ti h2 {
  font-size: 40px;
  margin: 25px 0px;
 }
 .about-title {
  width: 59%;
}
.photo-first img.io {
  min-width: 100%;
}
.about-photo {
  width: 100%;
}
.num-one {
  margin-bottom: 55px;
  width: 50%;
}
.num-flex {
  padding-bottom: 10px;
  flex-wrap: wrap;
}
.first-banner-section .banner-title {
  width: 62%;
}
.address {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: unset;
  margin-top: 25px;
}
.branch-photo img{min-width: 100%;}
.branch-photo {

  position: relative;
  top: 0;

}
.our_branches {
  height: auto;
}
.add-branch {

  width: 42%;}
  footer {
    margin: auto;
    padding-bottom: 15px;
}
.logo-footer img {
  margin: auto;
}
.footer-social {
  justify-content: center;
}
.f-ti li {

  align-items: center;
  width: 32%;
  text-align: center;
  margin: auto;
  margin-bottom: 14px;
}
.links-1 {
  text-align: center;
}
}
@media (max-width:768px) {
  .news-marquee {
    width: 22%;
}
}
@media (max-width:480px) {
  .top-bar-contacts {
    display: none;
}
.top-bar-dropdown {
  margin-right: auto;
}
.side-menu{position: absolute;}
.about-title {
  width: 95%;
}
.photo-first img.sec {
  display: none;
}
.num-one {
  margin-bottom: 35px;
  width: 100%;
}
.first-banner-section .banner-title {
  width: 93%;
  margin: auto;
}
.gallery-photo {
  width: 50%;
}
.branch-photo img {
  max-width: 100%;
}
.add-branch {
  width: 83%;
}
.f-ti li {  width: 91%;
}
}
@media (max-width:425px) {
  .slider-link{    flex-direction: column;}
  .slider-link .know-us a{    margin: 10px 0px;}
  .slider-ti h2 {
    font-size: 35px;
    text-align: center;
}
.slider-ti h4 {
  text-align: center;
}
.news-marquee {
  width: 41%;
}
.news-marquee h4 {
  font-size: 16px;
}
}

html[dir="ltr"] .sidenav.open {

  left: 0;
}
html[dir="ltr"] .sidenav {
  left: -580px;
  right: unset}
  html[dir="ltr"]  .sidenav .closebtn {
    left: unset;
    right: 0;
}
html[dir="ltr"] .down:after {
  left: unset;
  right: 35px

}
html[dir="ltr"] .side-menu .sub_list li {
  margin-left: 25px;
}

html[dir="ltr"] .logo {
  margin-left: unset;
  margin-right: auto;
}
html[dir="ltr"] .menu-head a {
  font-size: 14px;
  text-transform: uppercase;
  font-size: 14px;
}
html[dir="ltr"] .menu-head li:first-child {
  margin-right: 27px;
}
html[dir="ltr"] .side-slider {
  padding-left: unset;
  padding-right: 10%;
}
html[dir="ltr"] .side-slider .owl-carousel .owl-nav .owl-next{right: unset;left: 60px;}
html[dir="ltr"] .side-slider .owl-carousel .owl-nav .owl-prev{right: unset;left: 100px;}
html[dir="ltr"] .slider-ti h2 {
  text-transform: capitalize;
}
html[dir="ltr"] .slider-link .link-us a{text-transform: capitalize;}
html[dir="ltr"] .slider-link .know-us a{text-transform: capitalize;}
html[dir="ltr"] .slider-item::after {
  background: -webkit-gradient(linear, right top, left top, from(rgba(249, 165, 27, 0)), to(#000000e6));
  background: linear-gradient(268deg, rgba(249, 165, 27, 0) 0%, rgb(0 0 0 / 90%) 100%);
}
html[dir="ltr"] .photo-first img.sec{ right: unset; left: -40px;}
html[dir="ltr"]  .about-title h2{text-transform: uppercase;}
html[dir="ltr"] .first-banner-section .banner-title {
  width: 48%;
  margin-left: auto;
}
html[dir="ltr"] .first-banner-section .banner-link {width: 258px;text-transform: capitalize;     display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;   margin-left: auto;}
  html[dir="ltr"] .depart-title h2{text-transform: uppercase;}
  html[dir="ltr"] h2.testimonial-title{text-transform: uppercase;}
  html[dir="ltr"]  .feat-title span {
    text-transform: capitalize;
}
  html[dir="ltr"]  .feat-title .feat-la {
    text-transform: capitalize;
}
html[dir="ltr"]  .address{align-items: flex-end}
html[dir="ltr"] h5.foot-title {
  text-transform: uppercase;
}
html[dir="ltr"] .fast-link ul li a{
  text-transform: uppercase;
}
html[dir="ltr"] .f-ti .fa-phone {
  transform: rotate(90deg);
}

@media (min-width:1992px) {
  html[dir="ltr"] .shape-left {
  left: unset;
  right: -178px;
  padding-left: 48%;
  clip-path: polygon(64% 88%, 0 0, 98% 0);
  -webkit-clip-path: polygon(64% 88%, 0 0, 98% 0);
  clip-path: polygon(60% 100%, 0 0, 94% 0);
}}

@media (max-width:1024px) {
html[dir="ltr"] .add-branch {
  width: 310px;
}
html[dir="ltr"] .first-banner-section .banner-title {
  width: 60%;
}
}

@media (max-width:1024px) {
html[dir="ltr"] .logo {
  margin-left: auto;
  margin-right: unset;
}}
@media (max-width:992px) {
html[dir="ltr"] .side-slider {
  padding-left: unset;
  padding-right: unset;
}}
@media (max-width:480px) {
html[dir="ltr"] .first-banner-section .banner-title {
  width: 87%;
  margin: auto;
  text-align: center;
}

html[dir="ltr"] .first-banner-section .banner-link {
  margin: auto;
  margin-top: 25px;
}

}

html[dir="ltr"] .marquee-head {
  display: inline;
}
html[dir="ltr"] .news-marquee {
  width: 15%;
  margin-right: auto;
}
html[dir="ltr"] .news-marquee h4 {
  clip-path: polygon(0 0%, 69% 0%, 101% 100%, 0% 100%);
  position: relative;
  z-index: 99;
}

html[dir="ltr"] .news_line .marquee_en {
  overflow: hidden;
  line-height: 52px;
  flex: 1;
  z-index: 1;
}
html[dir="ltr"] .menu-head li:last-child {
  margin-left: 27px;
}

html[dir="ltr"] .news_line .least:after {
  border-color: transparent transparent transparent #61b347;
  left: auto;
  right: -12px;
}

/* ---------------------------- */
.about-page-one{
  padding-bottom: 70px;
  position: relative;

  background-color: #ffff;
}
.about-page nav{
  height: auto;
  background-color: #ffffff;
}
.about-page header{overflow: initial;}
.about-page .shape-left{

    padding-left: 45% !important;
    
    clip-path: polygon(75% 119%, 0 0, 98% 0);
    -webkit-clip-path: polygon(75% 119%, 0 0, 98% 0);
    clip-path: polygon(75% 140%, 0 0, 100% 0);


}
.head-title {
  text-align: center;
}
.head-title h4{
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 60px;}
.head-title h2 {
  position: relative;
  color: var(--main-color);
  font-size: 40px;
  font-family: "tjBlk";
  margin-bottom: 60px;
  margin-top: 55px;
}
.head-title h2::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 6px;
  top: 70px;
  left: 50%;
  background-color: var(--sec-color);
  transform: translateX(-50%);
}
.about-page-flex h2{position: relative;
  display: block;
  font-size: 26px;
  font-family: "tjBold";
  color: var(--main-color);
  margin-top: 35px;
  margin-bottom: 25px;
}
.about-page-flex h2::after {
  width: 52px;
  height: 2px;
  content: "";
  display: block;
  background-color: var(--sec-color);
  margin-top: 8px;
}
.about-page-flex p{
  background-color: #fafafa;
  padding: 35px;
  border-radius: 25px;
  font-size: 17px;
  font-family: "tjMd";
  color: var(--text-color);
  line-height: 1.643;}
  .about-page-flex ul{
    line-height: 1.699;
    font-size: 18px;
    color: var(--text-color);
    padding: 10px 0;
    margin: 0;
  }
  .about-page-flex span{font-size: 18px;
    color: var(--text-color);}
  .about-page-flex ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .about-page-flex ul li:before {
    width: 6px;
    height: 6px;
    background-color: var(--text-color);
    border-radius: 50%;
    content: "";
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 11px 0 0;
    -webkit-margin-end: 12px;
    margin-inline-end: 12px;
}


/*---------------------contact-us------------------------------*/
.contacts {

  border: 1px solid #ececec;
  border-radius: 10px;
  margin-bottom: 60px;

}
.contact-us.apply {
  height: 516px;

  border-radius: 0px 10px 10px 0px;
  padding: 60px 25px;

  background-color: #fcfcfc;
  -webkit-box-shadow: 4px 5px 18px rgb(0 0 0 / 5%);
  box-shadow: 4px 5px 18px rgb(0 0 0 / 5%);
}
.contact-us.details {
  border-radius: 10px 0px 0px 10px;
  height: 100%;
  background-color: var(--main-color);
  color: var(--side-color);
  padding: 65px 60px;
}
.contact-us.details h2 {
  font-size: 25px;
  font-family: "tjBold";
}
.contact-us.details h2 {
  font-size: 25px;
  font-family: "tjBold";
  margin-bottom: 45px;
}
.social-foot.contact h3 {
  font-size: 20px;
  font-family: "tjBold";
  margin-bottom: 30px;
}
.contact-us.details .f-ti li > i {
  width: 33px;
  height: 33px;
  background-color: var(--side-color);
  color: var(--sec-color);
  font-size: 18px;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  margin-left: 21px;
  margin-bottom: 15px;
}
.social-foot.contact i {
  color: var(--sec-color);
  text-align: center;
  margin: 10px 7px;
  width: 33px;
  height: 33px;
  background-color: var(--bread-color);
  line-height: 33px;
  border-radius: 50%;
}
.cont .form_input {width: 100%;
  height: 48px;
  border: 0px;
  border-bottom: 1px solid #ececec;
  padding: 0px 15px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
  .cont textarea {
    width: 100%;
    height: 127px;
    outline: 0;
    padding: 10px 12px;
    border:0;
    border-bottom: 1px solid #ececec;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;}

    .cont textarea:focus {
      border-color: var(--main-color
      );
  }
 
  textarea::placeholder {
    color: #465A61;
    font-size: 16px;
    font-family: "tjMd";
  }
    .form_input::-webkit-input-placeholder {
      color: var(--main-color);
  }
  .form_input:-ms-input-placeholder {
      color: var(--main-color);
  }
  .form_input::-ms-input-placeholder {
      color: var(--main-color);
  }
  .form_input::placeholder {
    color: #465A61;
      font-size: 16px;
      font-family: "tjMd";
  }
  .form_input:focus {
    border-color: var(--main-color);
}

    .ask-send .btn{

   
     
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;


      -webkit-box-shadow: 4px 5px 18px rgb(0 0 0 / 5%);
  box-shadow: 4px 5px 18px rgb(0 0 0 / 5%);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      margin-top: 30px;
      display: block;
    width: 206px;
    height: 59px;
    border: 1px solid transparent;

    border-radius: 20px;
    text-align: center;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    color: #fff;
    background-color: var(--main-color);
    font-size: 20px;
    font-family: "tjBold";
    margin-top: 40px;
    }
      .ask-send .btn:hover{
        border-color: var(--main-color);
    background-color: #ffffff;
    color: var(--main-color);}
      .con.map{border-radius: 10px;
        overflow: hidden;
        padding-bottom: 100px;    padding-top: 75px;}
    
      .sec-tal input {
        width: 100%;
    }
    
    .spbox {
        height: 48px;
    }
    
    .spbox.btn-group .dropdown-menu {
        z-index: 999999;
        box-shadow: none;
    }
    
    .spbox:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 100%;
      margin-bottom: 15px;
    }
    
    .spbox .dropdown-menu>li>a {
        padding: 5px 10px
    }
    
    .spbox.btn-group .dropdown-menu li a {
        outline: none !important;
        box-shadow: none;
        color: #465A61;
        background: none
    }
    .spbox .btn-default:hover {
    
      background-color: #ffffff !important;
      border-color: var(--main-color) !important;
  }
    .spbox.btn-group .dropdown-menu li:not(.disabled) a:hover {
        color: var(--main-color);
        background: transparent
    }
    
    .spbox .btn:focus {
        outline: none !important;
        outline-offset: 0px;
        box-shadow: none
    }
    
    .spbox.btn-group.open .dropdown-toggle {
        box-shadow: none
    }
    
    .spbox.selected,
    .spbox.btn-group .dropdown-menu li {
        outline: none !important;
        outline-offset: 0px;
        box-shadow: none
    }
    
    .spbox .btn.dropdown-toggle.btn-default {
      height: 55px;
      border: 1px solid #ececec;
      width: 100%;
      margin-bottom: 15px;
      color: #465A61;
      border-radius: 15px;
      font-size: 16px;
      font-family: "tjMd";
      padding: 0px 15px;
    }
    
    .spbox.open>.dropdown-toggle.btn-default,
    .spbox .btn-default:active:hover,
    .spbox .btn-default.active:hover,
    .spbox.open>.dropdown-toggle.btn-default:hover,
    .spbox .btn-default:active:focus,
    .spbox .btn-default.active:focus,
    .spbox.open>.dropdown-toggle.btn-default:focus,
    .spbox .btn-default.focus:active,
    .spbox .btn-default.active.focus,
    .spbox.open>.dropdown-toggle.btn-default.focus {
        background-color: #fff;

        border-color: rgb(50 54 130 / 60%);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(50 54 130 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(50 54 130 / 60%);
    }
    
    
    
    .spbox.btn-group .dropdown-toggle .caret {
        right: auto;
        left: 25px;
        color: #c1c1c1
    }
    
   
    
    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
      color: #c0c2c3;
      font-size: 14px;
      font-family: "tjMd";
      text-align: right;
    }
    
    .btn.active,
    .btn:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    @media (max-width: 768px) {
      .about-page-one {
        padding-bottom: 0px;
    }
    }
    .branch-add>h2{position: relative;
      display: block;
      font-size: 26px;
      font-family: "tjBold";
      color: var(--main-color);
      margin-top: 35px;
      margin-bottom: 25px;}
      .branch-add>h2::after {
        width: 52px;
        height: 2px;
        content: "";
        display: block;
        background-color: var(--sec-color);
        margin-top: 8px;
    }
    .branch-flex{display: flex;
    
      flex-wrap: wrap;}
    .add-branch-contact{
      margin: 0px 15px;
      padding: 20px;
      justify-content: center;
      display: flex;
      width: 350px;
      background-color: #FCFCFC;
      min-height: 167px;
      border: 2px solid #FCFCFC;
      border-radius: 10px;
      margin-bottom: 30px;
      -webkit-box-shadow: 0px 0px 8px 0px rgb(1 1 1 / 10%);
      box-shadow: 0px 0px 8px 0px rgb(1 1 1 / 10%);
      display: flex;
      flex-direction: column;
    }
      .add-branch-contact h2{
        font-size: 21px;
        color: var(--sec-color);
        font-family: "tjBlk";
        margin-top: 0;
        margin-bottom: 0;
      }
      .add-branch-contact p{
        font-family: "tjBold";
        font-size: 15px;
        color: #888888;
        width: 100%;
        line-height: 25px;
        margin: 10px 0px;
      }
      .add-call{    display: flex;
        justify-content: space-around;}
      .add-call span{
        color: #888888;
        font-size: 17px;
        font-family: "tjBlk";
      }
      .add-call i{
        color: var(--main-color);
        font-size: 16px;
        margin: 0px 5px;
      }
      @media (max-width: 992px) {
        .add-branch-contact {
          width: 280px;
      }
      .add-call {
        flex-direction: column;
    }
      }
      @media (max-width: 991px) {
        .contact-us.details{display: none;}
        .add-branch-contact{width: 45%;}
      }
      @media (max-width: 480px){
.add-branch-contact {
    width: 100%;
}}
html[dir="ltr"] .shape-left{
   left: unset;
    right: -135px;
    clip-path: polygon(48% 212%, 0 0, 98% 0);
    -webkit-clip-path: polygon(48% 212%, 0 0, 98% 0);
    clip-path: polygon(48% 212%, 0 0, 98% 0);
    
}
/* Login */
.sec-fo {
  width: 50%;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 35px;
}
.form-group {
  position: relative;
}
.sec-fo label {
  color:var(--text-color);
  font-size: 14px;
  padding-right: 30px;
  padding-bottom: 5px;
}
.sec-fo input {
  border: 2px solid rgb(242, 242, 242);
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  width: 100%;
  height: 55px;
  box-shadow: none;
  border-radius: 15px;
}
.get-pas a {
  display: block;
  text-align: center;
  color:var(--text-color);
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "tjMd";
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}
.sec-prov {
  border-radius: 15px;
  border: 0px;
  background-color: var(--sec-color);
  color: #fff;
  width: 100%;
  height: 51px;
  font-family: "tjBold";
  font-size: 17px;
  line-height: 46px;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}
.sec-prov:hover {
  background-color:  var(--main-color);
  color: #ffffff;
}
.form-control:focus {
  border-color: rgb(50 54 130 / 60%);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(50 54 130 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(50 54 130 / 60%);
}

@media (max-width: 991px) {
  .sec-fo {
    width: 100%;}
}


/* Previous_work */
.pre-work p{
  font-size: 16px;
    font-family: "tjMd";
    color: var(--text-color);
    line-height: 27px;
    text-align: justify;
}

/* licenses */
.license-title h3 {
  position: relative;
  display: block;
  font-size: 26px;
  font-family: "tjBold";
  color: var(--main-color);
  margin-top: 35px;
  margin-bottom: 25px;
}
.license-title h3::after {
  width: 52px;
  height: 2px;
  content: "";
  display: block;
  background-color: var(--sec-color);
  margin-top: 8px;
}
.license-title ul {
  line-height: 1.699;
  font-size: 18px;
  color: var(--text-color);
  padding: 10px 0;
  margin: 0;
}
.license-title ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.license-title ul li:before {
  width: 6px;
  height: 6px;
  background-color: var(--text-color);
  border-radius: 50%;
  content: "";
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 11px 0 0;
  -webkit-margin-end: 12px;
  margin-inline-end: 12px;
}
@media (max-width: 480px) {
  .head-title h2  {
    font-size: 35px;}
}
/* press */
.sign-now p{
  margin-top: 45px;
  background-color: var(--main-color);
  color:  var(--side-color);
}
.sign-now a{
  font-size: 18px;
  font-family: "tjBlk";
  display: inline-block;
  color:  var(--side-color);
  text-decoration: underline;
  margin: 0px 5px;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}
.sign-now a:hover{
  color: var(--sec-color);
}

.directors-member{display: flex;
flex-wrap: wrap;
align-items: center;
padding-top: 45px;
padding-bottom: 60px;
}
.member-dir{display: flex;flex-direction: column;}
.member-dir.ceo{width: 100%;    margin-bottom: 60px;}
.member-dir.one{width: 50%;}
.member-dir img{
  width: 270px;
  height: 280px;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
}
.member-dir h3{font-size: 35px;
  color:  var(--main-color);
  font-family: "tjBold";
  text-align: center;
}
.member-dir span{font-size: 28px;
  color:  var(--main-color);
  text-align: center;
}
@media (max-width: 991px) {
  .member-dir img {
    width: 250px;
    height: 250px;

}
.member-dir h3 {
  font-size: 30px;

}
}
@media (max-width: 480px) {
  .member-dir.one {
    width: 100%;
    margin-bottom: 50px;
}
}
@media (max-width: 375px) {
  .member-dir h3 {
    font-size: 25px;

}
}

/* dropdown-head-flag */
.dropdown-head-flag{display: flex;align-items: center;}
.dropdown-head-flag img{width: 23px;margin: 0px 5px;}

.apps img{width: 155px;
  border-radius: 10px;
  overflow: hidden;
  height: 42px;
  margin: auto;

  margin-bottom:10px}
  .apps{margin-top: 45px;}